@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>authenticated: @User.Identity.IsAuthenticated</p>
    <p>Username: @User.Identity.Name</p>
    <p></p>
</div>