@page


<h2 class="text-danger">Access Denied</h2>
<p class="text-danger">You do not have permission to access this page.</p>

<a  asp-controller="Club" asp-action="Index">Go to Clubs</a> |
<a  asp-controller="Leden" asp-action="Index">Go to Leden</a>
